body {
    height: 100vh;
}

#root {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}
#root1 {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}